@font-face {
    font-family: 'persona';
    src: url('../../PersonifiedUXRegular.ttf') format("truetype");
}

html{
    
    background-image: url('../../../public/leblanc.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}

.mano{
    width: 15%;
    height: auto;
    position:fixed;
    bottom: 0;
    left: 12%;
    z-index: 1;
    scroll-behavior:inherit;
}

.iconoPersona{
    width: 15%;
    height: auto;
    position:fixed;
    top: 5%;
    left: 10%;
    z-index: 1;
    scroll-behavior:inherit;
}

.App{
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

.movil{
    width: 45%;
    margin-left:20%;
    margin-top:1%;
    transform: rotate(6deg);
    background-image: url('../../../public/movil.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5%;
    
}

.flipX {
	transform: scaleX(-1);
	transform-origin: center;
}

.frase, .titulo{
    width: '85%'!important;
    margin: 'auto' !important;
    list-style-type: none;
}
.titulo{
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
}

.mensajes{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 85vh;
    overflow: auto;
    padding-right:1em;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-left: -8%;
}

.mensajes::-webkit-scrollbar {
    display: none;
}



@media (orientation: portrait) {
    .iconoPersona{
        width: 15%;
        height: auto;
        position:fixed;
        top: 5%;
        left: 5%;
        z-index: 1;
        scroll-behavior:inherit;
    }

    .movil{
        background-image: url('../../../public/movil2.png');
        width:100%;
        transform: none;
        padding: 0em;
        padding-top: 3em;
        margin:auto
    }

    .mano{
        height: 40%;
        width: auto;
        position:fixed;
        bottom: 0;
        left: -30%;
        z-index: 1;
        scroll-behavior:inherit;
    }

    .mensajes{
        margin-top: 1%;
        height: 95vh;
        margin-left: -5%;
    }
  }